{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}SAML Metadata Uploader{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <p>Upload your IdP's SAML metadata and <a href="/">begin</a>!</p>
            {{ wtf.quick_form(form) }}
        </div>

        <div class="container">
            {{ util.flashed_messages() }}
        </div>
    </div>
</div>
{% endblock %}